<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Consultas</title>
</head>
<body>
    <h1>Lista de Consultas</h1>
    <a href="{% url 'nova_consulta' %}">Nova Consulta</a>
    <ul>
        {% for consulta in consultas %}
            <li>
                <a href="{% url 'detalhe_consulta' consulta.id %}">
                    {{ consulta.data }} - {{ consulta.hora }} - Med: {{ consulta.medico }} - Pac: {{ consulta.paciente }}
                </a> - 
                <a href="{% url 'editar_consulta' consulta.id %}">Editar</a> - 
                <a href="{% url 'excluir_consulta' consulta.id %}">Excluir</a>
            </li>
        {% endfor %}
    </ul>    
    <a href="{% url 'index' %}">Voltar à Página Inicial</a>
</body>
</html>
